<template>
  <div id="component" class="container">
    <div class="form">
      <div class="columns is-multiline">
        <div class="column is-three-quarters">
          <b-field label="Recebido de" :type="{'is-danger': !nomeDe.valid}">
            <b-input 
              v-model="nomeDe.value"
              placeholder="Nome"
              maxlength="100"
            />
          </b-field>
        </div>

        <div class="column is-one-quarter">
          <b-field label="Valor">
            <div class="control is-clearfix" :class="{'has-icons-right': !valor.valid}">
              <money 
                class="input"
                :class="{'is-danger': !valor.valid}"
                v-model="valor.value"
                decimal=","
                prefix="R$ "
                thousands="."
              />
              <b-icon
                v-if="!valor.valid"
                class="is-right"
                icon="alert-circle"
                type="is-danger"
              />
            </div>
          </b-field>
        </div>

        <div class="column is-full">
          <b-field label="Correspondente a" :type="{'is-danger': !motivo.valid}">
            <b-input
              v-model="motivo.value"
              placeholder="Motivo"
              maxlength="255"
            />
          </b-field>
        </div>

        <div class="column is-three-quarters">
          <b-field label="Local" :type="{'is-danger': !local.valid}">
            <b-input
              v-model="local.value"
              placeholder="Cidade"
              maxlength="100"
            />
          </b-field>
        </div>

        <div class="column is-one-quarter">
          <b-field label="Data">
            <b-datepicker
              v-model="dataRecibo"
              position="is-top-left"
              placeholder="Clique para calendário"
            />
          </b-field>
        </div>

        <div class="column is-full">
          <b-field label="Recebido por" :type="{'is-danger': !nomePor.valid}">
            <b-input v-model="nomePor.value" placeholder="Nome" maxlength="100"/>
          </b-field>
        </div>

        <div class="column is-full is-flex vias">
          <b-radio v-model="vias"
            name="nroVias"
            native-value="1"
          >
            Uma via
          </b-radio>
          <b-radio v-model="vias"
            name="nroVias"
            native-value="2"
          >
            Duas vias
          </b-radio>

          <b-button type="is-primary" @click="generate">
            Gerar Recibo
          </b-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      nomeDe: {
        value: '',
        valid: true
      },
      nomePor: {
        value: '',
        valid: true
      },
      valor: {
        value: 0,
        valid: true
      },
      motivo: {
        value: '',
        valid: true
      },
      local: {
        value: 'Cascavel',
        valid: true
      },
      dataRecibo: new Date(),
      vias: 1
    }
  },
  created () {
    this.$emit('is-form');
  },
  methods: {
    generate() {
      if (this.validate()) {
        let recibo = {
          id: this.createUUID(),
          nomeDe: this.nomeDe.value,
          nomePor: this.nomePor.value,
          valor: this.valor.value,
          motivo: this.motivo.value,
          local: this.local.value,
          dataRecibo: this.dataRecibo,
          vias: this.vias
        };

        let storage;
        
        try {
          storage = JSON.parse(localStorage.recibos);
        } catch(e) {
          localStorage.recibos = "[]";
          storage = [];
        }

        storage.push(recibo);
        localStorage.recibos = JSON.stringify(storage);

        this.$router.push({ name: 'recibo', params: { id: recibo.id } });
      } else {
        this.showError('Existem campos preenchidos incorretamente.');
      }
    },
    validate() {
      this.nomeDe.valid   = this.nomeDe.value.trim() != '';
      this.valor.valid    = this.valor.value != 0;
      this.motivo.valid   = this.motivo.value.trim() != '';
      this.local.valid    = this.local.value.trim() != '';
      this.nomePor.valid  = this.nomePor.value.trim() != '';

      return ( this.nomeDe.valid && this.valor.valid &&
               this.motivo.valid && this.local.valid &&
               this.nomePor.valid );
    },
    showError(text) {
      this.$buefy.toast.open({
        duration: 5000,
        message: text,
        type: 'is-danger'
      })
    },
    createUUID() {
      let dt = new Date().getTime();

      let uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
          var r = (dt + Math.random()*16)%16 | 0;
          dt = Math.floor(dt/16);
          return (c=='x' ? r :(r&0x3|0x8)).toString(16);
      });

      return uuid;
    }
  },
}
</script>

<style lang="scss" scoped>
#component {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - #{$navbar-height});
  padding: 1rem;

  .form {
    width: 100%;

    .vias {
      align-items: center;
      justify-content: space-around;
    }
  }
}
</style>