<template>
  <div id="page" v-if="exists">
    <div v-for="n in parseInt(recibo.vias)" :key="n">
      <div class="recibo">
        <div class="columns is-multiline is-mobile">
          <div class="column is-full" style="margin-bottom: -1.75rem;">
            <div class="recibo-header">
              <div class="columns is-vcentered is-mobile">
                <div class="column is-half titulo-recibo">RECIBO</div>
                <div class="column is-half">
                  <div class="valor-header">
                    <div class="columns is-vcentered is-mobile">
                      <div class="column is-narrow valor-title">VALOR</div>
                      <div class="column">
                        <div class="valor-money has-text-right">
                          R$ {{ recibo.valor.toLocaleString('pt-br', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-full">
            <div class="recibo-body">
              <div class="columns is-vcentered is-mobile">
                <div class="column is-full" style="padding: 1.5rem;">
                  <div class="recibo-field-line">
                    <div class="columns is-mobile">
                      <div class="column is-narrow">Recebemos de</div>
                      <div class="column">
                        <div class="recibo-campo is-uppercase has-text-weight-bold is-family-monospace">
                          {{ recibo.nomeDe.toLocaleUpperCase() }}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="recibo-field-line">
                    <div class="columns is-mobile">
                      <div class="column is-narrow">a quantia de</div>
                      <div class="column">
                        <div class="recibo-campo is-uppercase has-text-weight-bold is-family-monospace">
                          {{ getExtenso(recibo.valor).toUpperCase() }}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="recibo-field-line">
                    <div class="columns is-mobile">
                      <div class="column is-narrow">correspondente a</div>
                      <div class="column">
                        <div class="recibo-campo is-uppercase has-text-weight-bold is-family-monospace">
                          {{ recibo.motivo.toLocaleUpperCase() }}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="recibo-field-line">
                    <div class="columns is-mobile">
                      <div class="column is-full">e para clareza, firmamos o presente.</div>
                    </div>
                  </div>
                  <div class="recibo-field-city">
                    {{ getDataExtenso(recibo.dataRecibo) }}
                  </div>
                  <div class="recibo-field-signature">
                    <div class="sign-space"></div>
                    <div class="name is-uppercase">
                      {{ recibo.nomePor.toLocaleUpperCase() }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr v-if="parseInt(recibo.vias) > 1 && n < 2">
    </div>
  </div>
  <div class="ne" v-else>
    <div class="message-box">
      Este recibo não pode ser encontrado.
    </div>
    <div class="actions">
      <b-button
        type="is-primary"
        @click="$router.push({name: 'form'})"
      >
        Criar Novo Recibo
      </b-button>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        id: this.$route.params.id,
        recibo: null,
        exists: false
      }
    },
    created () {
      this.$emit('is-recibo');
      let storage;

      try {
        storage = JSON.parse(localStorage.recibos);
      } catch (e) {
        this.exists = false;
        localStorage.recibos = "[]";
      }
      
      let r = storage.find(e => e.id == this.id);

      if (r) {
        this.recibo = r;
        this.recibo.dataRecibo = new Date(this.recibo.dataRecibo);
        this.exists = true;
      } else {
        this.exists = false;
      }
    },
    methods: {
      getExtenso(val) {
        let a = val.toLocaleString('pt-br', {minimumFractionDigits: 2, maximumFractionDigits: 2}).split(',');

        let unidE = ['', 'um', 'dois', 'três', 'quatro', 'cinco', 'seis', 'sete', 'oito', 'nove'];
        let unid1E = ['', 'onze', 'doze', 'treze', 'quatorze', 'quinze', 'desesseis', 'dezessete', 'dezoito', 'dezenove'];
        let dezE = ['', 'dez', 'vinte', 'trinta', 'quarenta', 'cinquenta', 'sessenta', 'setenta', 'oitenta', 'noventa'];
        let centE = ['', 'cento', 'duzentos', 'trezentos', 'quatrocentos', 'quinhentos', 'seiscentos', 'setecentos', 'oitocentos', 'novecentos'];
        
        let reais	 = a[0] ? a[0].replace('.', '') : '0';
        let centavos = a[1] ? a[1] : '00';
        
        let unid_c	 = parseInt(centavos[1]);
        let dez_c	 = parseInt(centavos[0]);
        
        let unid_r	 = parseInt(reais[reais.length-1] ? reais[reais.length-1] : 0);
        let dez_r	 = parseInt(reais[reais.length-2] ? reais[reais.length-2] : 0);
        let cent_r	 = parseInt(reais[reais.length-3] ? reais[reais.length-3] : 0);
        let mil_r	 = parseInt(reais[reais.length-4] ? reais[reais.length-4] : 0);
        let dmil_r	 = parseInt(reais[reais.length-5] ? reais[reais.length-5] : 0);
        
        let milhar_r = parseInt(unid_r + 10*dez_r + 100*cent_r);

        let string_m = (dmil_r === 1 ? (mil_r > 0 ? unid1E[mil_r] : dezE[dmil_r]) : (dezE[dmil_r] + 
              ((dmil_r > 1 && mil_r > 0) ? (' e ' + (mil_r === 1 && dmil_r === 0 ? 'hum' : unidE[mil_r])) : 
              (mil_r === 1 && dmil_r === 0 ? 'hum' : unidE[mil_r])))) +
              (parseInt(mil_r + (dmil_r*10)) > 0 ? ' mil' : '');
        
        let string_r = (cent_r === 1 ? (((dez_r*10 + unid_r) === 0 && parseInt(reais) > 0) ? 
                'cem' : centE[cent_r]) : centE[cent_r]) +
                ((dez_r*10 + unid_r) > 0 && cent_r > 0 ? ' e ' : '') +
                (dez_r === 1 ? (unid_r > 0 ? unid1E[unid_r] : dezE[dez_r]) : (dezE[dez_r] + 
                ((dez_r > 1 && unid_r > 0) ? ' e ' + unidE[unid_r] : unidE[unid_r]))) +
                (parseInt(reais) > 1 ? ' reais' : parseInt(reais) != 0 ? ' real' : '');
        
        let string_c = (dez_c === 1 ? (unid_c > 0 ? unid1E[unid_c] : dezE[dez_c]) : (dezE[dez_c] + 
                ((dez_c > 1 && unid_c > 0) ? ' e ' + unidE[unid_c] : unidE[unid_c]))) +
                (parseInt(centavos) > 1 ? ' centavos' : parseInt(centavos) != 0 ? ' centavo' : '');
        
        let string_f = 	string_m + (parseInt(reais) > 1000 ? (milhar_r === 0 ? ' ' : 
                (milhar_r % 100 === 0 || milhar_r < 100 ? ' e ' : ', ')) : '') + string_r + 
                (parseInt(reais) > 0 && parseInt(centavos) > 0 ? ' e ' + string_c : string_c);
                
        return string_f;
      },
      getDataExtenso(d) {
        let dia = d.getDate();
        let mes = d.getMonth() + 1;
        let ano = d.getFullYear();
        let mes_extenso = '';

        switch (mes) {
          case 1:
            mes_extenso = 'janeiro'
            break;
          case 2:
            mes_extenso = 'fevereiro'
            break;
          case 3:
            mes_extenso = 'março'
            break;
          case 4:
            mes_extenso = 'abril'
            break;
          case 5:
            mes_extenso = 'maio'
            break;
          case 6:
            mes_extenso = 'junho'
            break;
          case 7:
            mes_extenso = 'julho'
            break;
          case 8:
            mes_extenso = 'agosto'
            break;
          case 9:
            mes_extenso = 'setembro'
            break;
          case 10:
            mes_extenso = 'outubro'
            break;
          case 11:
            mes_extenso = 'novembro'
            break;
          case 12:
            mes_extenso = 'dezembro'
            break;
        }

        return `${this.recibo.local.toLocaleUpperCase().trim()}, ${dia} de ${mes_extenso} de ${ano}`;
      }
    },
  }
</script>

<style lang="scss" scoped>
#page {
  height: 297mm;
  width: 260mm;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;

  .recibo {
    border: 1px solid $primary;
    border-radius: 5px;
    background-color: $recibo-background;
    color: $recibo-font;

    .recibo-header, .recibo-body {
      margin: 0.5rem;
      border: 1px solid $primary;
      background-color: $white;
      border-radius: 5px;

      .titulo-recibo {
        font-size: 2rem;
        font-weight: 1000;
        padding-left: 1.5rem;
      }

      .valor-header {
        margin: 0.5rem;
      }

      .valor-title {
        font-size: 2rem;
        font-weight: 600;
      }

      .valor-money {
        background-color: $recibo-background;
        border: 1px solid $primary;
        border-radius: 3px;
        padding: 0.25rem 0.5rem;
        font-weight: 600;
        font-size: 1.25rem;
      }

      .recibo-campo {
        background-color: $recibo-campos-background;
        border-radius: 3px;
        padding: 0 1rem;
      }

      .recibo-field-city {
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .recibo-field-signature {
        height: 8rem;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;

        .sign-space, .name {
          width: 100%;
        }

        .name {
          margin: 0 3rem;
          text-align: center;
          border-top: 1px solid $recibo-font;
        }

        .sign-space {
          height: 5rem;
        }
      }
    }
  }

  hr {
    border: 1px dashed $recibo-font;
    opacity: 0.5;
  }
}

.ne {
  height: calc(100vh - #{$navbar-height});
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;

  .message-box, .actions {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .message-box {
    font-weight: 600;
  }

  .actions {
    padding-top: 1rem;
  }
}
</style>