<template>
  <div id="app">
    <!-- NAVBAR -->
    <b-navbar type="is-primary is-hidden-print">
      <template slot="brand">
        <b-navbar-item href="/" class="has-text-weight-bold is-uppercase">   
          <img class="logo" src="@/assets/icon.png">
          Gerador de Recibos
        </b-navbar-item>
      </template>

      <template slot="end">
        <b-navbar-item tag="div">
          <b-button 
            v-if="this.recibo"
            type="is-secondary" 
            @click="printPage"
          >
            Imprimir
          </b-button>
          <b-button 
            v-if="this.recibo"
            type="is-secondary" 
            style="margin-left: 0.75rem;" 
            @click="backToForm"
          >
            Voltar
          </b-button>
        </b-navbar-item>
      </template>
    </b-navbar>

    <!-- VIEW -->
    <router-view
      @is-recibo="setRecibo"
      @is-form="setForm"
    />
  </div>
</template>

<script>
export default {
  data() {
    return {
      recibo: false,
      form: false
    }
  },
  created () {
    console.log('Desenvolvido por: %cLeonardo Marciano - lmarciano@hotmail.com.br', 'font-weight: 600; color: blue;');
  },
  methods: {
    setRecibo() {
      this.recibo = true;
      this.form = false;
    },
    setForm() {
      this.recibo = false;
      this.form = true;
    },
    backToForm() {
      this.$router.push({name: 'form'});
    },
    printPage() {
      window.print();
    }
  }
}
</script>

<style lang="scss">
#app {
  min-height: 100vh;

  .logo {
    margin-right: 0.5rem;
  }
}
</style>