@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
$family-sans-serif: "Nunito", sans-serif;

// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #363E59;
$primary-invert: findColorInvert($primary);
$secondary: #00C9D3;
$secondary-invert: findColorInvert($secondary);

$recibo-background: rgb(179, 181, 185);
$recibo-campos-background: rgb(225, 226, 228);
$recibo-font: rgb(29, 37, 59);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "secondary": ($secondary, $secondary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert)
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

@media print {
    .is-hidden-print {
        display: none;
    }
}